.videos{

}

.snapchat-article {
	max-width: 500px;

}

.ghana-photo{
	max-height: 100%;
	max-width: 100%;

}

p {
	font-size: 14px;
	font-family: Gotham, Sans-serif;

}

.snapchat-photo{
	

}


.continue-button{

}