.title{
	font-size: 72px;
	font-family: Avenir, Sans-serif;

}

.snapchat-article {
	font-size: 14px;
	font-family: Gotham, Sans-serif;

}

.ghana-photo{
	max-height: 100%;
	max-width: 100%;

}

p {
	font-size: 14px;
	font-family: Gotham, Sans-serif;

}