body{
	margin: 0px;
}

.page-title{
	opacity: 100%;
	margin-bottom:;

}
h1{
	font-family:sans-serif, ;
	text-align: center;
}

.bondax{
	width: 100%;
}
	
.bondax-img{
	margin: 0 auto;
	width: 100%;
}
	
.bondax-sc{
	position: ;
	width: 100%;
	height: 166px; 
}

.jamiexx{
	width: 100%;

}

.jamiexx-img{
	margin: 0 auto;
	width: 100%;
}

.jamiexx-sc{
	position: ; 
	width: 100%;
	height: 166px;
	
}

.rustie{
	width: 100%;
}

.rustie-img{
	margin: 0 auto;
	width: 100%;

}
.rustie-sc{
	width: 100%;
	height: 166px;
	
}

.purityring{

	width: 100%;
}

.purityring-img{
	margin: 0 auto;
	width: 100%;
	position: ;
	

}
.purityring-sc{
	position: ;
	width: 100%;
	height: 166px;
	
}

.TNGHT{
	width: 100%;
}

.TNGHT-img{
	margin: 0 auto;
	width: 100%;
	position: ;
	

}
.TNGHT-sc{
	position: ;
	width: 100%;
	height: 166px;
	
}

.daphnie{

	width: 100%;
}

.daphnie-img{
	margin: 0 auto;
	width: 100%;
	

}
.daphnie-sc{
	position: ;
	width: 100%;
	height: 166px;
 
	
}

.xxyyxx{

	width: 100%;
}

.xxyyxx-img{
	margin: 0 auto;
	width: 100%;
	position: ;
	

}
.xxyyxx-sc{
	width: 100%;
	height: 166px;
	
}
