body{
	margin: 0;
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-weight: bold;
	text-shadow: 1px 1px 5px #999999;
}

.background{
	background: #e8e9d7;
	width: 100%;
	height: 100%;

}

.title{
	height: 30%;
	width: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	resize: both;

}

.titleText{
	font-size: 5em;
	text-align: center;
	color: #ce2724	;
}


#countdown{
	background: ;
  height: 20%;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  resize: both;

}

.item{

  width: auto;
	height: auto;
  overflow: auto;
	padding: 10px;

}

.wrapper{
width: 100%;

}

.text{
	margin: 0	auto;
	font-size: 10em;

}

.value{
	color: #207c88;

}

.lable{
	color: #aac1bf;
	justify: left;


}
